<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happiness Index Statistics</title>
</head>
<body>
    <h1>Happiness Index Statistics</h1>

    <h2>Plot</h2>
    <h2>Statistics</h2>
    <ul>
        {% for key, values in stats.items() %}
        <li><strong>{{ key }}:</strong>
            <ul>
                {% for stat_name, stat_value in values.items() %}
                    <li>{{ stat_name }}: {{ stat_value }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

    <table border="1">
        <thead>
            <tr>
                <th>Column Name</th>
                <th>Mean</th>
                <th>Median</th>
                <th>Mode</th>
                <th>Range</th>
            </tr>
        </thead>
        <tbody>
            {% for col, stats in stats.items() %}
            <tr>
                <td>{{ col }}</td>
                <td>{{ stats['Mean'] }}</td>
                <td>{{ stats['Median'] }}</td>
                <td>{{ stats['Mode'] }}</td>
                <td>{{ stats['Range'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav>
        <div class="navbar">
          <a href="#home">Home</a></li>
          <a href="#about">About</a></li>
          <a href="#services">Services</a></li>
          <a href="#contact">Contact</a></li>
        </div>
      </nav>    
</body>
</html>